<div class="wrapper blog--edit-title">
	<h2>Editing Blog</h2>
	<div class="actions">	 
		<%= link_to 'Back To Blog Dashboard', blogs_path, class: 'button button--primary' %>
	</div>
</div>

<%= render 'form' %>

