<div class="wrapper blog--title">
	<h2>Triumphant Blog</h2>
</div>
<div class="wrapper blog--wrapper">
	<% @blogs.each do |blog|%>

		<% used_link = blog.external_link ? blog.external_link_url :  blog %>

		<%= link_to used_link, target:'_blank' do %>
			<figure>
				<img src="<%= blog.gram_photo%>" alt="">
				<figcaption>
					<h2><%= blog.title%></h2>
				</figcaption>
			</figure>
		<% end %>
	<% end %>
</div> 

<%= will_paginate @blogs %>
