<div class="wrapper blog--title">
	<h2>Triumphant Blog</h2>
</div>
<div class="wrapper blog--wrapper">
	<% @blogs.each do |blog|%>
		<%= link_to blog do %>
			<figure>
				<img src="<%= blog.gram_photo%>" alt="">
				<figcaption>
					<h2><%= blog.title%></h2>
				</figcaption>
			</figure>
		<% end %>
	<% end %>
</div> 
