$purple : #251439
$gold : #E0AF1D
$lightgrey : #F7F7F7
$darkgrey : #666666
$green : #16a085
$red : #c0392b

$darkgold : #AD8716
$lightgold : #F9C320
$transgold : rgba(224,175,29,0.8)
$transpurple: rgba(37,20,57,0.9)

$title-font : 'PT Sans Narrow', 'Arial', sans-serif
$body-font : 'Arial', sans-serif
$hl-font : 'Georgia', serif