<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @create_tweet.text %>
</p>

<%= link_to 'Edit', edit_create_tweet_path(@create_tweet) %> |
<%= link_to 'Back', create_tweets_path %>
